@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*? Fuentes */
/*? Colores */
/*? Tamaños */
/* $tittleSize: ;
$textSize:;
$iconsSize;
 */
/*? Margins */
#logoImg {
  height: 10rem;
  width: 10rem; }

#navv {
  margin-right: 6rem; }
  #navv li {
    margin: 0 0.6rem;
    position: relative; }
    #navv li a {
      font-weight: 600;
      font-size: 23px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
    #navv li::before {
      content: "";
      background-color: black;
      height: 2px;
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 0;
      left: 0.2rem;
      transform: scaleX(0);
      transition: 300ms all ease; }
    #navv li:hover::before {
      transform: scaleX(1); }

main .hero .container .row .columna-texto .heroTitulo {
  font-size: 5rem; }

main .hero .container .row .columna-texto .heroText {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0.4rem; }

/* UTILIDADES */
.utilidades {
  overflow-x: hidden; }
  .utilidades .container .heroInverse {
    flex-direction: row-reverse; }
  .utilidades .linksGrid {
    padding: 2rem 0; }
    .utilidades .linksGrid h2 {
      text-align: center;
      font-size: 3rem;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      font-weight: 500;
      margin-right: 5rem;
      margin-bottom: 3rem; }
    .utilidades .linksGrid .gridLinks {
      width: 95%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem; }
      .utilidades .linksGrid .gridLinks .imgLinks {
        aspect-ratio: 3/2;
        object-fit: contain;
        height: 5rem;
        width: 8rem;
        margin: 1rem 0.5rem;
        transition: 0.4s ease all; }
        .utilidades .linksGrid .gridLinks .imgLinks:hover {
          position: relative;
          scale: 1.5;
          transition: 0.4s ease all; }

/* offcanvas cargar */
.offcanvas .offcanvas-body form .formDiv {
  margin: 0.9rem 0;
  width: 90%; }
  .offcanvas .offcanvas-body form .formDiv label {
    font-family: "Roboto", sans-serif; }
  .offcanvas .offcanvas-body form .formDiv input,
  .offcanvas .offcanvas-body form .formDiv select {
    border: 1px solid;
    width: 90%; }

#whatsappbutton {
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 3rem; }
  #whatsappbutton a {
    font-size: 4rem;
    transition: 0.2s all ease; }
    #whatsappbutton a i {
      color: green;
      transition: 0.2s all ease; }
  #whatsappbutton:hover {
    scale: 1.2;
    transition: 0.2s all ease; }
    #whatsappbutton:hover i {
      color: #06dd06;
      transition: 0.2s all ease; }

/* !DROPDOWN */
.dropdown-menu {
  width: 14rem !important;
  padding: 0.5rem; }

/* !AGENDA  */
main h1 {
  text-align: center;
  padding: 2rem 0;
  font-style: italic; }

main .plantilla {
  height: 100%;
  width: 100%; }
  main .plantilla .cardsProvedores .container-fluid .row {
    width: 100%; }
    main .plantilla .cardsProvedores .container-fluid .row .card {
      margin: 2rem 1rem;
      max-width: 21rem; }
      main .plantilla .cardsProvedores .container-fluid .row .card .card-body i {
        color: white;
        font-size: 3.5rem;
        position: absolute;
        right: 2rem;
        top: 4rem; }
      main .plantilla .cardsProvedores .container-fluid .row .card .card-body .cerrar {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        cursor: pointer; }

.Golosinas {
  background: linear-gradient(45deg, #4099ff, #73b4ff); }

.Alcohol {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5); }

.Lacteos {
  background: linear-gradient(45deg, #ffb64d, #ffcb80); }

.Electronica {
  background: linear-gradient(45deg, #ff5370, #ff869a); }

.Fumador {
  background-color: #e7e768; }

.Helados {
  background-color: violet; }

.Limpieza {
  background-color: #4fe34f; }

.Bebidas {
  background: #c825e9; }

#offcanvasRight {
  height: 100%; }

main {
  height: 100%; }
  main .container-fluid {
    height: 100%; }
    main .container-fluid .notesGrid {
      height: 100%;
      width: 100%;
      background-color: #4099ff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap; }
      main .container-fluid .notesGrid .notesDisplay {
        background-color: black;
        height: 33%;
        width: 25%; }

@media (max-width: 992px) {
  #navv li::before {
    width: 0; }
  .utilidades .container .row {
    display: flex;
    flex-direction: column-reverse !important; }
    .utilidades .container .row .col-lg-4 {
      justify-content: center;
      display: flex; }
  .utilidades .linksGrid .gridLinks .imgLinks {
    height: 5rem;
    width: 5rem; }
  #valorProductoInput {
    margin: 0 auto;
    width: 75% !important; } }

@media (max-width: 768px) {
  main .hero .container .row .columna-texto .heroTitulo {
    font-size: 12vw; }
  main .hero .container .row .columna-texto .heroText {
    text-align: center; }
  #whatsappbutton {
    display: none; } }
