#logoImg {
    height: 10rem;
    width: 10rem;
}

#navv {
    margin-right: 6rem;
    li {
        margin: 0 0.6rem;
        position: relative;
        a {
            font-weight: 600;
            font-size: 23px;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        }
        &::before {
            content: "";
            background-color: black;
            height: 2px;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: absolute;
            bottom: 0;
            left: 0.2rem;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: 300ms all ease;
            -o-transition: 300ms all ease;
            transition: 300ms all ease;
        }
        &:hover::before {
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
        }
    }
}

.collapse {
    .fecha {
        position: absolute;
        top: 35%;
        right: 3rem;
        font-size: 1.2rem;
        text-align: center;
        font-family: $font-family2;
        p {
            color: black;
            margin: 0;
            &:nth-child(2) {
                font-size: 1.1rem;
            }
        }
    }
}
