//! INDEX

main {
    .hero {
        .container {
            .row {
                .columna-texto {
                    .heroTitulo {
                        font-size: 5rem;
                    }
                    .heroText {
                        font-size: 1.3rem;
                        font-family: $font-family2;
                        padding-bottom: 0.4rem;
                    }
                }
            }
        }
    }
}

/* !PROVEDORES  */
body {
    background-color: #f7f7ff;
}
main {
    h1 {
        text-align: center;
        padding: 2rem 0;
        font-style: italic;
    }
    .plantilla {
        height: 100%;
        width: 100%;
        .btn-group{
            margin: 0 1rem;
        }
        .cardsProvedores {
            .container-fluid {
                .row {
                    width: 100%;
                    .card {
                        margin: 2rem 1rem;
                        max-width: 21rem;
                        .card-body {
                            i {
                                color: white;
                                font-size: 3.5rem;
                                position: absolute;
                                right: 2rem;
                                top: 4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Golosinas {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}
.Alcohol {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}
.Lacteos {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.Electronica {
    background: linear-gradient(45deg, #ff5370, #ff869a);
}
.Fumador {
    background-color: rgb(231, 231, 104);
}
.Helados {
    background-color: violet;
}
.Limpieza {
    background-color: rgb(79, 227, 79);
}
.Bebidas {
    background: rgb(200, 37, 233);
}
#offcanvasRight{
    height: 100%;
}
/* UTILIDADES */
.utilidades {
    overflow-x: hidden;
    .container-fluid {
        
        h1 {
            text-align: center;
            padding-top: 3rem;
        }
        .row {
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .col-10 {
                margin: 1.3rem;
                .card {
                    height: 25rem;
                    background-color: $color4;
                    margin: 2rem 1rem;
                    .card-body {
                        .card-title {
                            height: 15%;
                            font-size: 1.6rem;
                        }
                        .card-text {
                            height: 65%;
                            text-align: justify;
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

/* ! 404 */



/* offcanvas cargar */

.offcanvas{
    .offcanvas-body{
        form{
            .formDiv{
                margin: 0.9rem 0;
                width: 90%  ;
                label{
                    font-family: $font-family2;
                    
                }
                input , select{
                    border: 1px solid;
                    width: 90%;
                }
            }
        }
    }
}