//! header

@media (max-width: 992px) {
    #navv {
        li {
            &::before {
                width: 0;
            }
        }
    }
    .fecha {
        position: absolute;
        top: 50% !important;
        right: 1rem !important;
        font-size: 1.2rem;
        text-align: center;
    }
    .utilidades {
        .container {
            .row {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical !important;
                -webkit-box-direction: reverse !important;
                -ms-flex-direction: column-reverse !important;
                flex-direction: column-reverse !important;
                .col-lg-4 {
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }
            }
        }
        .linksGrid {
            .gridLinks {
                .imgLinks {
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
    }
    #valorProductoInput {
        margin: 0 auto;
        width: 75% !important;
    }
}

//! index

@media (max-width: 768px) {
    main {
        .hero {
            .container {
                .row {
                    .columna-texto {
                        .heroTitulo {
                            font-size: 12vw;
                        }
                        .heroText {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    //!GLOBLAL
    #whatsappbutton {
        display: none;
    }
}
